@import "tailwindcss";

:root {
  --cream-white: #feedd3;
  --soft-white: #fef1dd;
  --soft-orange: #f9b455;
  --dark-orange: #df7e30;
  --background: var(--soft-white);
  --foreground: #51260b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sora);
  --font-mono: var(--font-space-mono);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), sans-serif;
}
